* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}
body {
  /* background-image: url(../images/violetamate.png);  */
  background: #7e6673;
  /* background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed; */
  /* padding-bottom: 50px; */
  position: relative;
}
main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 35px;
  max-width: 1000px;
}

/* NavBar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
  background: #3a2a33;
  position: relative;
  z-index: 2;
}
/* nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    right: 0;
  } */
.logo {
  color: rgb(201, 194, 194);
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 10px;
  transition: all 0.5s ease-out;
}
.logo:hover {
  color: white;
  letter-spacing: 15px;
  font: 30px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(201, 194, 194);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  transition: font-size 0.3s linear, background 0.7s ease, color 0.3s;
  padding: 10px 15px;
}

/* .nav-links::after {
    content: "";
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0)
    transform-origin: right;
    transition: 250ms ease-in;
  }
  .nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  } */

.nav-links a:hover {
  background-color: rgba(201, 194, 194, 0.623);
  font-size: 15px;
  letter-spacing: 4px;
  color: white;
}

.burger {
  display: none;
}
.burger div {
  width: 20px;
  height: 2.5px;
  background-color: rgb(201, 194, 194);
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #3a2a33;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Formulario */
body {
  background: #7e6673;
}
h1 {
  display: flex;
  justify-content: center;
  margin: 37px 0 10px 0;
  color: white;
  text-transform: uppercase;
}
.table-bordered {
  background: white;
}
