* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}
body {
  /* background-image: url(../images/violetamate.png); */
  background: #664d5a;
  font-family: "Baloo Tammudu 2", cursive;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 50px; */
}
main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

/* NavBar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
  background: #3a2a33;
  position: relative;
  z-index: 2;
}
.logo {
  color: rgb(201, 194, 194);
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 10px;
  transition: all 0.5s ease-out;
}
.logo:hover {
  color: white;
  letter-spacing: 15px;
  font: 30px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(201, 194, 194);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  transition: font-size 0.3s linear, background 0.7s ease;
  padding: 10px 15px;
}

.nav-links a:hover {
  background-color: rgba(201, 194, 194, 0.623);
  font-size: 15px;
  letter-spacing: 4px;
}
.burger {
  display: none;
}
.burger div {
  width: 20px;
  height: 2.5px;
  background-color: rgb(201, 194, 194);
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #3a2a33;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Estilos.css */

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  /* margin: 50% 50%; */
  margin: auto;
  /* align-items: center; */
  z-index: 1;
  margin-top: 120px;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: #44333d;
  border-radius: 10px;
}

.caja__trasera div {
  margin: 50px 40px;
  color: rgb(201, 194, 194);
  transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid rgb(201, 194, 194);
  font-size: 14px;
  background: rgb(201, 194, 194);
  font-weight: 600;
  cursor: pointer;
  color: #3a2a33;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background: #3a2a33;
  color: rgb(201, 194, 194);
  border: none;
}

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 10px;
  z-index: 1;
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: #b193a2;
  position: absolute;
  border-radius: 20px;
  border: 3px solid #3a2a33;
}

.contenedor__login-register form h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: #3a2a33;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: rgb(201, 194, 194);
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #3a2a33;
  font-weight: 600;
  cursor: pointer;
  color: rgb(201, 194, 194);
  outline: none;
  transition: all 0.2s ease-in-out;
}

.contenedor__login-register form button:hover {
  background: rgb(201, 194, 194);
  color: #3a2a33;
}

.formulario__login {
  opacity: 1;
  display: block;
}
.formulario__register {
  display: none;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
    box-shadow: 5px 5px;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }

  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
  .contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #3a2a33;
  }

  input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: rgb(201, 194, 194);
    font-size: 16px;
    outline: none;
  }

  .contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #3a2a33;
    color: rgb(201, 194, 194);
    cursor: pointer;
  }
}

/* Footer */

.footer {
  padding-top: 0px;
  background: #3a2a33;
  padding: 25px 50px;
  margin: 100px 0px 0px 0px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
  background: #3a2a33;
  position: relative;
  z-index: 2;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.425);
  margin: 15px 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.4s ease;
}
.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
  height: 70px;
  width: 70px;
}
