* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}
body {
  /* background-image: url(../images/violetamate.png);  */
  background: #7e6673;
  /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
  /* padding-bottom: 50px; */
  position: relative;
}
main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 35px;
  max-width: 1000px;
}

/* NavBar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
  background: #3a2a33;
  position: relative;
  z-index: 2;
}
/* nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  left: 0;
  right: 0;
} */
.logo {
  color: rgb(201, 194, 194);
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 10px;
  transition: all 0.5s ease-out;
}
.logo:hover {
  color: white;
  letter-spacing: 15px;
  font: 30px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(201, 194, 194);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  transition: font-size 0.3s linear, background 0.7s ease, color 0.3s;
  padding: 10px 15px;
}

/* .nav-links::after {
  content: "";
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0)
  transform-origin: right;
  transition: 250ms ease-in;
}
.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
} */

.nav-links a:hover {
  background-color: rgba(201, 194, 194, 0.623);
  font-size: 15px;
  letter-spacing: 4px;
  color: white;
}

.burger {
  display: none;
}
.burger div {
  width: 20px;
  height: 2.5px;
  background-color: rgb(201, 194, 194);
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #3a2a33;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Opciones */

.title {
  text-align: center;
  margin-top: 20px;
  color: white;
  padding: 10px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: #99818d;
}

.container-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px;
}

.box {
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #eeeeee;
  border-radius: 14px;
  text-align: center;
  margin-top: 90px;
  position: relative;
}

.box img {
  width: 60%;
  transition: all 400ms;
}

.box h2 {
  font-size: 16px;
  margin-top: 10px;
  transition: all 500ms;
  color: white;
}

.box .container-p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0px 10px;
  border-radius: 0px 0px 14px 14px;
}

.box p {
  font-size: 14px;
  color: #7a7a7a;
  opacity: 0;
  transform: translateY(150px);
  transition: all 600ms;
}

.box .check {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #f5f5f5;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background: white;
}

.box .check i {
  margin-top: 6px;
  display: none;
  color: white;
}

/* Efecto Hover */

.box:hover {
  background: #fbfbfe;
}

.box:hover img {
  transform: translateY(-90px);
}

.box:hover h2 {
  transform: translateY(-90px);
  color: #3a2a33;
}

.box:hover .container-p p {
  transform: translateY(0px);
  opacity: 1;
  color: #3a2a33;
}

.box:hover check {
  background: black;
}

/*Clases que estaremos utilizando en JavaScript*/

.box-selected {
  transform: translateY(-13px);
  background-color: #66515c;
  border: 4px solid white;
  transition: all 600ms;
}

.icon-check {
  display: block !important;
}

.check-selected {
  background: #3a2a33 !important;
  border: none;
  transition: all 600ms;
}

button {
  padding: 10px 40px;
  border: 3px solid #3a2a33;
  font-size: 14px;
  background: white;
  font-weight: 600;
  cursor: pointer;
  color: #3a2a33;
  outline: none;
  border-radius: 8px;
  transition: all 300ms;
}

button:hover {
  background: #3a2a33;
  color: rgb(201, 194, 194);
  border: 3px solid white;
}

/* Footer */

.container {
  /* padding-top: 50px; */
  max-width: 1170px;
  margin: auto;
}
.footer {
  padding-top: 50px;
  background: #3a2a33;
  padding: 40px 30px;
  font-family: "Poppins", sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

ul {
  list-style: none;
}
.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}
.footer-col h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: black;
  height: 3px;
  box-sizing: border-box;
  width: 70px;
}
/* .footer-col ul li:not(last-child) {
  margin-bottom: 10px;
} */
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  /* margin-left: 7px; */
  margin-top: 10px;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #7e6673;
  padding-left: 7px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.425);
  margin: 15px 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
